.header {
  height: 100vh;
  position: relative;
  .slider__btn-wrap {
    position: absolute;
    top: 40px;
    right: 80px;
  }
}

.header__title {
  max-width: 467px;
  opacity: 0.07;
  position: absolute;
  z-index: 4;
  top: -5px;
  left: -400px;
}

.header__map {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}

.header__aside {
  border-right: 1px solid rgba(#fff, .25);
  padding-bottom: 45px;
  position: absolute;
  z-index: 5;
  top: 0;
  left: -100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  .menu {
    margin-bottom: 0;

    .menu__list {
      padding: 0;
      margin-bottom: 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;

      li {
        margin-bottom: 30px;

        a {
          img {
            display: block;
            margin: 0 auto;
          }

          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 3px;
          color: #FFFFFF;

          &:hover {
            text-decoration: none;
          }
        }
      }

      .menu__list-date {
        font-weight: 800;
        font-size: 72px;
        line-height: 64px;
        text-transform: uppercase;

        span {
          display: block;
          margin-top: 6px;
          font-weight: 300;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          letter-spacing: 1.4px;

        }
      }

      .menu__list-location {
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 1.05px;
        position: relative;
        margin-bottom: 0;
        padding-left: 18px;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          width: 11px;
          height: 13px;
          background-image: url(../images/header/location-icon.svg);
        }
      }
    }
  }
}

.swiper-container.header-slider {
  width: 100vw;
  height: 100vh;
  background: #000;

  .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }

  .item__info {
    position: absolute;
    right: 95px;
    bottom: 116px;
    text-align: right;
  }

  .item__info-title {
    margin-bottom: 40px;
  }
}



.slider-dots-header {
  position: absolute;
  right: 80px;
  bottom: -40px;
  max-width: 920px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .swiper-slide {
    cursor: pointer;
  }

  .swiper-slide-thumb-active {
    .dots-box {
      border-top: 4px solid $primary;
    }
  }

  .dots-box {
    padding-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    border-top: 4px solid white;
  }

  .dots-box__number {
    font-weight: 800;
    font-size: 24px;
    line-height: 34px;
    text-transform: uppercase;
  }

  .dots-box__name {
    font-weight: 300;
    text-align: right;
  }
}

.header__arrows {
  position: absolute;
  bottom: 60px;
  left: 210px;
  z-index: 5;
}