.surf {
  position: relative;
  padding: 160px 0 120px;
  background: url(../images/surf/map-mark.svg) 110% 225px no-repeat;
  background-size: auto;
}

.surf__subtitle {
  text-align: right;
  margin: -86px 80px 0 0;
}

.slider-map {
  max-width: 1200px;
  min-height: 635px;
  background: url(../images/surf/map.png) center no-repeat;
  background-size: cover;
  margin: 0 auto;

  .swiper-wrapper {
    min-height: 635px;
    .swiper-slide{
      cursor: pointer;
    }
  }
  .swiper-slide-thumb-active{
    .slider-dots__content {
      display: block;
      padding: 28px 32px;
      background: rgba(#0F1010,.7);
      border-radius: 6px;
      width: 283px;
      position: absolute;
      bottom: 50px;
      transform: translateX(-45%);
      &:after{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-bottom: 20px solid $primary;
        border-left: 12px solid transparent;
        border-right: 13px solid transparent;
        bottom: -35px;
        left: 45%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}
.slider-dots__content {
  .slider-dots__content-row{
    display: flex;
    justify-content: space-between;
    &:first-child{
      margin-bottom: 30px;
    }
  }
  .slider-dots__content-title{
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
    &:after{
      content: '';
      width: 80px;
      height: 1px;
      background: $primary;
      position: absolute;
      bottom: -10px;
      left: 0;
    }
  }
  .slider-dots__content-link{
    height: fit-content;
    img{
      padding-top: 2px;
    }
  }
  .slider-dots__content-item{
    text-align: center;
    img{
      margin-bottom: 7px;
    }
    .slider-dots__content-number{
      font-weight: 800;
      line-height: 23px;
      margin-bottom: 5px;
    }
    .slider-dots__content-name{
      font-weight: 300;
      font-size: 10px;
      line-height: 12px;
      text-transform: uppercase;
    }
  }
}

.slider-dots__circle {
  width: 24px;
  height: 24px;
  background: $primary;
  border-radius: 50%;
  box-shadow: 0 0 35px rgba(74, 246, 205, 0.837777);
}

.slider-dots__content {
  display: none;
}

.slider-dots {

}

.slider-dots--1 {
  top: 335px;
  left: 0;
}

.slider-dots--2 {
  top: 270px;
  left: 0;
  .slider-dots__circle{
    position: relative;
    &:before{
      content: '';
      position: absolute;
      background: url("../images/surf/small-map-mark.svg") center no-repeat;
      width: 14px;
      height: 17px;
      background-size: cover;
      top: -25px;
      right: -15px;
    }
  }

}

.slider-dots--3 {
  top: 330px;
  left: 25px;
}

.slider-dots--4 {
  top: 470px;
  left: -25px;
}

.slider-dots--5 {
  top: 230px;
  left: -65px;
}

.slider-dots--6 {
  top: 550px;
  left: -120px;
}

.slider-dots--7 {
  top: 375px;
  left: -95px;
}

.slider-dots--8 {
  top: 470px;
  left: 35px;
}

.serf-slider {
  padding-top: 57px; /////////////
  position: relative;

  .slider__btn-wrap {
    margin: 0 90px 32px 0;
    opacity: .25;
  }

  .swiper-slide:nth-child(4n+1) {
    .serf-box {
      margin-top: 32px;
    }
  }

  .swiper-slide:nth-child(4n+3) {
    .serf-box {
      margin-top: 89px;
    }
  }

  .swiper-slide-active {
    .serf-box {
      .serf-box__inner {
        background: rgba(#1C2121, .3);

        .serf-box__inner-btn {
          display: block;
        }
      }
    }
  }
}

.serf-box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .serf-box__inner {
    min-height: 750px;
    padding: 72px 40px 0 40px;
    background: rgba(#1C2121, .85);
    position: relative;

    &:hover {
      background: rgba(#1C2121, .3);
      transition: all .5s;

      .serf-box__inner-btn {
        display: block;
      }
    }

    .serf-box__inner-title {
      line-height: 36px;
      max-width: 170px;
      margin-bottom: 0;
    }

    .serf-box__inner-location {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 8px;
      text-transform: uppercase;
      color: #FFFFFF;
      transform: rotate(-90deg);
      width: 0;
      height: 0;
      white-space: nowrap;
      position: absolute;
      bottom: 80px;
      left: 40px;

      span {
        font-weight: 100;
      }
    }

    .serf-box__inner-btn {
      position: absolute;
      bottom: 0;
      left: 45px;
      text-align: center;
      display: none;
    }
  }
}


