.slider__btn-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: 10;
}

.header-slider__btn-prev, .header-slider__btn-next,
.serf-slider__btn-prev, .serf-slider__btn-next {
  width: 24px;
  height: 20px;
  cursor: pointer;
  outline: none;
}

.swiper-button-disabled {
  opacity: .5;
  cursor: auto;
  pointer-events: none;
}

.header-slider__btn-next,
.serf-slider__btn-next {
  background: url("../images/header/arrow-right.svg") center no-repeat;
}

.header-slider__btn-prev,
.serf-slider__btn-prev {
  background: url("../images/header/arrow-left.svg") center no-repeat;
  margin-right: 15px;
}