.headline-left, .headline-right {
  font-weight: 300;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 7.33333px;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
  position: relative;
  display: inline-block;
  margin-bottom: 4px;
  &:before {
    content: '';
    position: absolute;
    top: 47%;
    width: 80px;
    height: 1px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
}

.headline-left {
  &:before {
    left: -102px;
  }
}

.headline-right {
  &:before {
    right: -102px;
  }
}

.subtitle {
  display: inline-block;
  text-align: right;
  .subtitle__head {
    margin-bottom: 0;
    padding-right: 8px;
    span {
      font-weight: 100;
    }
  }
}
.description {
  margin-left: 135px;
  display: inline-block;

  &__head {
    margin-bottom: 0;
  }
}