.travel-slider__info {
  margin: 0 135px 60px;
  display: flex;
  justify-content: space-between;


  &-item {
    max-width: 330px;
    min-height: 200px;
    position: relative;
  }

  &-subtitle {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: rgba(#fff, .5);
    transform: rotate(-90deg);
    width: 195px;
    height: 100%;
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    text-align: end;
  }

  &-title {
    padding-left: 40px;
    font-weight: 800;
    font-size: 40px;
    line-height: 130%;
    text-transform: uppercase;
    .clarification{
      font-size: 14px;
      line-height: 36px;
      text-align: right;
      letter-spacing: 5.25px;
      color: rgba(#fff, .75);
      font-weight: normal;
    }
  }
}